*.png
*.gif
__pycache__/
.ipynb_checkpoints/
backend/config/
.*
**.ipynb
**.csv
**.db
*.db
*storage/
_*/
GUI2/

result**
table.xlsx

main.py
3d_img.py
/data/output/

!/data/output/empty
!.empty
!GUI/static/*.png
