<!DOCTYPE html>
<html lang="en">
    <style>
        p{
            font-size:  15pt;
        }
        li{
            font-size:  15pt;
        }
        h3{
            margin-top: 80px;
        }
        h4 {
            font-size: 15pt;
        }
        .nobullet {
        list-style-type: none;
        }
        #nav-bar{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        #nav-button{
            margin-left: 40px;
            width: 10%;
            height: auto;
        }
        #main-body{
            margin-left: 20px;
            margin-right: 20px;
            text-align: justify;
            text-justify: inter-cluster;
            
        }
        #img-container{
            display: flex;
            text-align: center;
        }
        #img-container-one{
            text-align: center;
        }
        #img{
            width: 50%;
            height: auto;
            text-align: center;
            margin-left: 10px;
            /* align-content: center; */
        }
        #mark{
            font-style: italic;
            font-weight: bold;
            /* color: red; */
        }


    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
</head>
<body>
    <div id="main-body">

        
        <h1 style="text-align: center">Tu   torial of Image annotation tools for semantic segmentation</h1>
        <div id="nav-bar">
            <Button id="nav-button"><a href="/tutorial">Tutorial</a></Button>
            <Button id="nav-button"><a href="/upload_file">Upload File</a></Button>
            <Button id="nav-button"><a href="/annotation">Annotation</a></Button>
            <Button id="nav-button"><a href="/annotation_background">Save File</a></Button>
        </div>
        <div id="introdaction">
            
            <p style="margin-top: 40px;">На этой странице представлена пошаговая инструкция для аннотации изобраний.</p>
            <p>Необходимо разметить томографические снимки породы для дальнейшей сегментации. На изображениях есть <b>два класса</b>: интересующий нас класс - порода (класс 1)
                и поры (класс 0/background/фон). Сначала необходимо загрузить конфигурационный файл с информацией об изображении. 
                После этого необходимо выделить <b>все контуры породы</b>  на загруженном срезе изображения. Интересующий класс породы будет находиться <b>внутри 
                    отмеченных контуров. Все остальное будет считаться фоном.</b>
            </p>
            <p style="font-weight:bolder; margin-top: 40px;"> <u>Содержание</u>:</p>
            <ul >
                <li><a href="#upload_file">Загрузка изображения</a></li>
                <li><a href="#annotation">Разметка основного класса</a></li>
                <ul>
                    <li><a href="#toolbar">Инструменты для разметки</a></li>
                    <li><a href="#contours">Рисование контуров и редактирование разметки</a></li>
                    <li><a href="#zoom">Использование зума</a></li>
                </ul>
                <li><a href="#save_result">Сохранение результатов</a></li>
                <li><a href="#send_result">Отправка результатов</a></li>
                <li>Видео инструкция</li>
            </ul>
        </div>
        

        <div id="main-container">
            <ol id="list">
                <li id="upload_file"><h3>Загрузка изображения</h3></li>
                <p>Чтобы загрузить изображение нужно перейти на вкладку  <b>"Upload image"</b>  <span id="mark">(1)</span> и нажать на кнопку загрузки файлов <span id="mark">(2)</span>. 
                <br> Необходимо выбрать конфигурационный файл формата  <b>.json</b> <span id="mark">(3)</span>, находящийся по пути <b>data/</b> 
                (относительно корневой директории проекта segmentation). 
                <br> Далее нужно подождать, пока будт загружены необходимые изображения и отрисованы как на рисунке справа.   <br>
                Следущий шаг - аннотация изображения (<b>Annotation</b>)</p>
                <p id="img-container">
                    <img id="img" src="/static/step1.png"> </img>
                    <img id="img" src="/static/step2.png"> </img>    
                </p>


                <li id="annotation"><h3>Аннотирование изображения</h3></li>
                <p>
                    На этом этапе необходимо выделить <b>контуры</b> породы (объектов класса 1). Далее на основании этих контуров будет произведена разметка - внутренности выделенных контуров
                    считаются классом 1. Неразмеченная часть изображения считается
                    фоном (подробнее далее). Нужно постараться внутренностями контуров покрыть всю породу на изображении. На границе изображения тоже необходимо рисовать контур, тк заливка
                    осуществляется по выделенным линиям. Для этого есть удобные инструменты:<br> </p>

              
                    <h4 id="toolbar"><u>Панель инструментов</u></h4>

                    
                    <p>
                        Панель инструметов [отмечена на рисунке цифрой <span id="mark">(4)</span>] содержит следующие элементы:
                        <ul>
                            <li class="nobullet"><b>А)</b> Зум для приближения изображения. Двойой клик по изображению сбросит масштаб</li>
                            <li class="nobullet"><b>Б)</b> Перемещать изображение</li>
                            <li class="nobullet"><b>В-Г)</b> Инструменты рисования контуров (см. ниже)</li>
                            <li class="nobullet"><b>Д)</b> Удалить выбранный контур (см. ниже)</li>
                            <li class="nobullet"><b>Е)</b> Автоматическое приближение / отдаление </li>
                            <li class="nobullet"><b>Ж)</b> Восстановавить исходный масштаб </li>
                        </ul>
                    </p>
                    
                    <p id="img-container-one">
                        <img id="img" style="width: 25%;" src="/static/toolbar.png" alt="">
                    </p>

                <h4 id="contours"><u>Рисование контуров и редактирование разметки</u></h4>
             
                <p> 
                    Выберите инструменты для разметки в панели <span id="mark">(4)</span>, и выделите контуры как на рисунке ниже <span id="mark">(5)</span>. <br>
                    Доступные инструменты для удобного выделения контуров:
                </p>

                <ul>
                    <li>Рисование незамкнутой фигуры  <b>(Draw open freeform)</b> [в]</li>
                    <li>Рисование замкнутого контура  <b>(Draw closed freeform)</b> [г]</li>
                    <li>Круг  <b>(Circle) <i>Пока недоступно</i></b>
                    <li>Прямоугольник  <b>(Rectangle) <i>Пока недоступно</i></b>
                </ul>

                <p>
                    Для изменения геометрии нарисованного конутра нажмите ПКМ по контуру <span id="mark">(6)</span>. Будут выделены опорные точки фигуры, которые можно свободно перемещать <span id="mark">(7)</span>. В случае выбора замкнутой лини как на рисунке ниже, также выделится внутренняя часть фигуры.
                    Чтобы удалить нанесенную фигуру, необходимо выделить интересующий контур и нажать на инструмет <span id="mark">(9)</span> <b>Erase active shape</b>. Количество нанесенных контуров можно отслеживать в левом верхнем углу <span id="mark">(8)</span>.  
                    <b><u>ЧТОБЫ ПРИМЕНИЛИСЬ НАСТРОЙКИ ИЗМЕНЁННОГО КОНУТРА НЕОБХОДИМО НАРИСОВАТЬ ДОП КОНТУР!!!</u></b> <br>

                    <p>
                        Стоит учитывать, что при рисовании незамкнутых фигур на этапе нанесения разметки первая и последняя точки контура будут соеденены отрезком, а фигура считаться замкнутым контуром. Допускается пересечение контуров.
                     </p>

                     
                </p>
                
                
                <p id="img-container">
                    
                    <img id="img" src="/static/step3.png" alt="">
                    <img id="img" src="/static/step4.png" alt="">
                </p>

                
                <h4 id="zoom"><u>Использование зума</u></h4>
                <p>
                    Приближение можно использовать  для более точного рисования контуров или изменения разметки. 
                    Для этого необходимо выбрать zoom [А] в панели инструментов <span id="mark">(4)</span>, а потом выделить интересующую 
                    часть на изображении <span id="mark">(10)</span>. Для навигации по картинке можно использовать инструмент <b>Pan</b>
                     [Б] в панели инструментов <span id="mark">(11)</span>. Для восстановления масштаба можно два раза нажать на изображение
                     или использовать инструметы [Е, Ж]. Чтобы проверить разметку или сохранить результаты, перейдите на вкладку <b>Save file</b> 
                     <span id="mark">(12)</span>.
                </p>
               
                <p id="img-container">
                    
                    <img id="img" src="/static/step5.png" alt="">
                    <img id="img" src="/static/step6.png" alt="">   
                </p>

                <li id="save_result"><h3>Сохранение результатов</h3></li>
                <p>
                    При переходе на эту страницу автоматиски выделится задний фон зеленым цветом <span id="mark">(13)</span> на основе нанесенной разметки.
                    Для изменения разметки есть возможность вернуться на предыдущую страницу и продолжить аннотирование. Для сохранения 
                    результатов разметки необходимо нажать на кнопку <span id="mark">(14)</span> <b>SAVE IMAGE</b>. В поле <span id="mark">(15)</span> появится относительный путь
                    к сохраненной папке с результатами разметки. Также появится кнопка <span id="mark">(16)</span> <b>CHECK ANNOTATION</b> 
                    Для проверки точности аннотации. Послее нажатия на эту кнопку появится значение метрик в поле <span id="mark">(17)</span>, а также 
                    отобразится изображение <span id="mark">(18)</span>. На этом изображении белым цветом отмечены неправильно размеченные пиксели. 
                    Чтобы скрыть результаты аннотирования, нажмите на кнопку <span id="mark">(16)</span> <b>CHECK ANNOTATION</b>.
                    <br> <b>ОБРАТИТЕ ВНИМАНИЕ, ЧТО ПРИ КАЖДОМ НАЖАТИИ НА СОХРАНЕНИЕ, АННОТАЦИИ БУДУТ СОХРАНЯТЬСЯ В ОТДЕЛЬНОЙ ПАПКЕ</b>
                    <br> Для разметки нового изображения необходимо опять перейти на вкладку  <b>"Upload image"</b> и проделать те же шаги.
                </p>


                <p id="img-container">
                    
                    <img id="img" src="/static/step7.png" alt="">
                    <img id="img" src="/static/step8.png" alt="">
                </p>

                <li id="send_result"><h3>Отправка результатов</h3></li>

                <p>
                    Необходимо разметить каждое изображение 3 раза. То есть проделать все шаги выше, после перейти на вкладку <b>"Upload image"</b> и опять загрузить 
                    какой-нибудь конфигурационный файл. После этого вся информация о предыдущей разметке обнулится (останется сохраненная в папке  output).

                    <p>
                        Когда все изображения размечены по 3 раза, нужно архивом отправить папку  <b>data/output</b>, находящейся в директории с проектом segmentation 
                        и содержащую все папки с сохраненными результатми разметки (result1, result2, ...)
                    </p>
                </p>

            </ol>

        </div>


        <h3></h3>
    
    </div>


    
</body>
</html>